services:
  wordpress:
    image: wordpress
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
    volumes:
      - wordpress:/var/www/html
    mem_limit: 512m

  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db:/var/lib/mysql
    mem_limit: 512m

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8081:80
    environment:
      PMA_HOST: db
      PMA_USER: exampleuser
      PMA_PASSWORD: examplepass
  
  ftp:
    image: stilliard/pure-ftpd
    restart: always
    ports:
      - 21:21
      - 30000-30009:30000-30009
    environment:
      PUBLICHOST: localhost
      FTP_USER_NAME: exampleuser
      FTP_USER_PASS: examplepass
      FTP_USER_HOME: /home/examplepass
    volumes:
      - wordpress:/home/examplepass/files
    mem_limit: 256m
    depends_on:
      - wordpress
      
volumes:
  wordpress:
  db: